<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-title>Custom Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Menus
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


</ion-content>