<ion-header>
    <ion-toolbar color="gucat-green">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="gucat-white"></ion-menu-button>
        </ion-buttons>
        <ion-title>Organizaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

    <ion-item lines="full" *ngFor="let organization of organizations; index as i;" color="gucat-green" (click)="organizationId(organization.id)">
        <ion-label slot="end" class="ion-text-end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
        <ion-label slot="start">{{organization.name}}</ion-label>
    </ion-item>

</ion-content>