<div class="container">
    <p class="h2 ml-4">Gencat</p>
    <div class="row">
        <div class="col-sm mt-4">
            <img class="img-fluid border border-dark" src="https://www.gencat.cat/medinatural/incendis/mapes/pla_alfa.gif">
        </div>
        <div class="col-sm mt-4">
            <img class="img-fluid border border-dark" src="https://www.gencat.cat/medinatural/incendis/mapes/mapweb.gif">
        </div>
    </div>
    <p class="h2 ml-4 mt-4">Meteocat</p>
    <div class="row">
        <div class="col-sm mt-4">
            <iframe src="https://static-m.meteo.cat/ginys/mapaAvisos?language=ca&amp;color=2c3e50" title="Mapa d'avisos" frameborder="0" style="border:0" scrolling="no" width="100%" height="525"></iframe>
        </div>
        <div class="col-sm mt-4">
            <iframe class="embed-responsive-item" src="https://static-m.meteo.cat/ginys/mapaPrediccio?language=ca&amp;color=2c3e50" title="Predicció general de Catalunya" frameborder="0" style="border:0" scrolling="no" width="100%" height="525"></iframe>
        </div>
    </div>
</div>