<ion-header>
  <ion-toolbar color="gucat-green">
    <ion-buttons slot="start" color="gucat-white" [routerLink]="['/profile']" routerDirection="root">
      <ion-icon name="chevron-back-outline" style="font-size: 25px;"></ion-icon>Atras
    </ion-buttons>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

  <ion-grid>
    <ion-row>
        <form [formGroup]="formResetPassword" (ngSubmit)="submitForm()" novalidate>
            <ion-item lines="full">
                <ion-input formControlName="password" type="text" placeholder="Password" required></ion-input>
            </ion-item>
            
            <ion-col>
                <ion-button type="submit" color="gucat-green" expand="block">Guardar</ion-button>
            </ion-col>
        </form>
    </ion-row>
  </ion-grid>

</ion-content>
