<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<body>

    <div class="d-flex" id="wrapper">
  
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading font-weight-bold">GuaitaCat</div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/home']">Home</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/camera']">Camaras</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/map']">Mapas</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/user']">Usuaris</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" *ngIf="user && user.role.name === 'superadmin'" [routerLink]="['/role']">Rols</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" *ngIf="user && user.role.name === 'superadmin'" [routerLink]="['/organization']">Organització</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
  
      <!-- Page Content -->
      <div id="page-content-wrapper">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <i class="fas fa-bars fa-lg"></i>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user?.name | titlecase}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/profile']">Perfil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"(click)="logout()">Sortir</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
  
        <div class="container-fluid mt-4">
            <router-outlet></router-outlet>
            <app-footer></app-footer> 
        </div>
      </div>
      <!-- /#page-content-wrapper -->
  
    </div>
    
</body>