<div class="container">
    <form [formGroup]="formCreateUser" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nom<span class="text-danger">*</span></label>
            <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Codi<span class="text-danger">*</span></label>
            <input formControlName="code" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Correu<span class="text-danger">*</span></label>
            <input formControlName="email" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Contrasenya<span class="text-danger">*</span></label>
            <input formControlName="password" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Refrescar camera<span class="text-danger">*</span></label>
            <input formControlName="refresh_camera" type="number" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Rol<span class="text-danger">*</span></label>
            <select formControlName="role" class="form-control" id="exampleFormControlSelect1">
                <option ngValue="" selected disabled>Rol</option>
                <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Organització<span class="text-danger">*</span></label>
            <select formControlName="organization" class="form-control" id="exampleFormControlSelect1">
                <option ngValue="" selected disabled>Organització</option>
                <option *ngFor="let organization of organizations" [ngValue]="organization.id">{{organization.name}}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    <button class="btn btn-primary mt-4" [routerLink]="['/user']">Enrera</button>
    <button *ngIf="user && user.id" class="btn btn-danger mt-4 ml-4" (click)="deleteUser(user.id)">Eliminar
        usuari</button>
</div>