<ion-header>
    <ion-toolbar color="gucat-green">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="gucat-white" *ngIf="role.name == 'admin'"></ion-menu-button>
        </ion-buttons>
        <ion-title>Cameras</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="menuFilter()">
                <ion-icon name="funnel-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header [class.hide]="!menuFilterState">
    <ion-toolbar color="gucat-orange">
        <form [formGroup]="formSearchCamera" (ngSubmit)="getCameras()" novalidate>
        <ion-grid class="ion-margin-top">
            <ion-row>
                <ion-col>
                    <ion-title color="gucat-white">Filtres</ion-title>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
                <!--<ion-col>
                    <ion-item color="gucat-green">
                        <ion-label>Organització</ion-label>
                        <ion-select placeholder="Seleccioni">
                          <ion-select-option value="f">Female</ion-select-option>
                          <ion-select-option value="m">Male</ion-select-option>
                        </ion-select>
                      </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="gucat-green">
                        <ion-label>Rol</ion-label>
                        <ion-select placeholder="Seleccioni">
                          <ion-select-option value="f">Female</ion-select-option>
                          <ion-select-option value="m">Male</ion-select-option>
                        </ion-select>
                      </ion-item>
                </ion-col>-->
                <ion-col>
                    <ion-item color="gucat-green">
                        <ion-label>Estat</ion-label>
                        <ion-select placeholder="Seleccioni" formControlName="state">
                          <ion-select-option value="">Totes</ion-select-option>
                          <ion-select-option value="0">Inactiu</ion-select-option>
                          <ion-select-option value="1">Actiu</ion-select-option>
                          <ion-select-option value="2">Pendent</ion-select-option>
                        </ion-select>
                      </ion-item>
                </ion-col>
            </ion-row>
            <ion-button type="submit" color="gucat-green" expand="full">Buscar</ion-button>
        </ion-grid>
    </form>
    </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addCamera()">
        <ion-fab-button color="gucat-orange">
            <ion-icon name="add" color="gucat-white"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    <ion-card color="gucat-green" *ngFor="let camera of cameras">
        <div>
            <ion-img src="{{camera.url}}&time={{timeStamp}}" ionImgViewer title="{{camera.name}}"></ion-img>
        </div>
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-title>{{camera.name}}</ion-card-title>
                    </ion-col>
                    <ion-col style="text-align: right;">
                        <ion-icon name="information-circle-outline" class="ion-margin-end" (click)="infoCamera(camera.id)" style="font-size: 28px;"></ion-icon>
                        <ion-icon name="pencil-outline" (click)="editCamera(camera.id)" class="ion-margin-end"></ion-icon>
                        <ion-icon name="trash-outline" (click)="removeCamera(camera.id)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>

</ion-content>