<ion-header>
    <ion-toolbar color="gucat-green">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="gucat-white" *ngIf="role.name == 'admin'"></ion-menu-button>
        </ion-buttons>
        <ion-title>Cameras</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

    <ion-card color="gucat-green">
        <!-- <img [src]="imageRemote" alt="bosque"> -->
        <div id="zoomIMG">
            <ion-img src="{{imageRemote}}&time={{timeStamp}}" alt="bosque"></ion-img>
        </div>
        <ion-card-header>
            <ion-card-title>EXAMPLE</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card color="gucat-green" *ngFor="let camera of cameras">
        <!-- <img [src]="imageRemote" alt="bosque"> -->
        <div id="zoomIMG">
            <ion-img src="{{camera.url}}&time={{timeStamp}}" alt="bosque"></ion-img>
        </div>
        <ion-card-header>
            <ion-card-title>{{camera.name}}</ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>