<div class="container">
    <form [formGroup]="formCreateRole" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nom</label>
            <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    <button class="btn btn-primary mt-4" [routerLink]="['/role']">Enrera</button>
    <button *ngIf="role && role.id" class="btn btn-danger mt-4 ml-4" (click)="deleteRole(role.id)">Eliminar
        rol</button>
</div>