<ion-header>
    <ion-toolbar color="gucat-green">
        <ion-buttons slot="start" color="gucat-white" (click)="backButton()">
            <ion-icon name="chevron-back-outline" style="font-size: 25px;"></ion-icon>Atras
        </ion-buttons>
        <ion-title>create</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

    <ion-grid>
        <ion-row>
            <form [formGroup]="formCreateCamera" (ngSubmit)="submitForm()" novalidate>
                <ion-item lines="full">
                    <ion-input formControlName="name" type="text" placeholder="Nom" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="ip" type="text" placeholder="Ip" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="port" type="text" placeholder="Port" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="user" type="text" placeholder="Usuari" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="password" type="text" placeholder="Contrasenya" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="lat" type="text" placeholder="Latitut" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="lon" type="text" placeholder="Longitud" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Organitazacio</ion-label>
                    <ion-select placeholder="Seleccioni" formControlName="organizationId">
                        <ion-select-option *ngFor="let organization of organizations" [value]="organization.id">{{organization.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Marca camera</ion-label>
                    <ion-select placeholder="Seleccioni" formControlName="cameraTypeId">
                        <ion-select-option *ngFor="let cameraType of cameraTypes" [value]="cameraType.id">{{cameraType.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="cameraId">
                    <span>Estat</span> <ion-toggle color="success" slot="end" formControlName="state"></ion-toggle>
                </ion-item>
                <ion-col>
                    <ion-button type="submit" color="gucat-green" expand="block">Guardar</ion-button>
                </ion-col>
            </form>
        </ion-row>
    </ion-grid>

</ion-content>