<ion-header>
    <ion-toolbar color="gucat-green">
        <ion-buttons slot="start">
            <ion-back-button text="Atras"></ion-back-button>
        </ion-buttons>
        <ion-title>create</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

    <ion-grid>
        <ion-row>
            <form [formGroup]="formCreateCamera" (ngSubmit)="submitForm()" novalidate>
                <ion-item lines="full">
                    <ion-input formControlName="name" type="text" placeholder="Nom" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="ip" type="text" placeholder="Ip" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="port" type="text" placeholder="Port" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="user" type="text" placeholder="Usuari" required></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-input formControlName="password" type="text" placeholder="Contrasenya" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Organitazacio</ion-label>
                    <ion-select placeholder="Seleccioni" formControlName="organizationId">
                        <ion-select-option *ngFor="let organization of organizations" [value]="organization.id">{{organization.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Marca camera</ion-label>
                    <ion-select placeholder="Seleccioni" formControlName="cameraTypeId">
                        <ion-select-option [value]="1">Foscam</ion-select-option>
                        <ion-select-option [value]="2">Dahua</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-col>
                    <ion-button type="submit" color="gucat-green" expand="block">Guardar</ion-button>
                </ion-col>
            </form>
        </ion-row>
    </ion-grid>

</ion-content>