<div class="container-fluid" *ngIf="currentUser && currentUser.role.name === 'superadmin' || currentUser.role.name === 'admin'">
  <div class="row">
    <div class="col-sm">
      <div class="card m-4" *ngIf="currentUser && currentUser.role.name === 'superadmin'">
        <div class="card-body" [routerLink]="['/organization']">
          <h5 class="card-title">Organizacions</h5>
          <p class="card-text text-center h1">{{organizationCount}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card m-4">
        <div class="card-body" [routerLink]="['/user']">
          <h5 class="card-title">Usuaris</h5>
          <p class="card-text text-center h1">{{userCount}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-4">
    <div class="card-body" [routerLink]="['/camera']">
      <h5 class="card-title text-center h1">Cameras</h5>
      <div class="container">
        <div class="row">
          <div class="col-sm text-center">
            <p class="h3">Actiu</p>
            <p class="h3" *ngIf="cameraStateCount">{{cameraStateCount.active}}</p>
          </div>
          <div class="col-sm text-center">
            <p class="h3">Inactiu</p>
            <p class="h3" *ngIf="cameraStateCount">{{cameraStateCount.inactive}}</p>
          </div>
          <div class="col-sm text-center">
            <p class="h3">Pendent</p>
            <p class="h3" *ngIf="cameraStateCount">{{cameraStateCount.pending}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5 ml-4 mr-4">
    <google-map width="100%" [center]="center" [zoom]="zoom" [options]="options">
      <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
      </map-marker>
      <map-info-window>
        <img class="d-none d-sm-block" src="{{ infoContent }}" width="500px" height="300px">
        <img class="d-block d-sm-none" src="{{ infoContent }}" width="400px" height="200px">
      </map-info-window>
    </google-map>
  </div>
</div>

<div class="container-fluid" *ngIf="currentUser && currentUser.role.name === 'capOperatiu'">
  <div class="ml-4 mr-4">
    <google-map class="d-none d-sm-block" width="100%" height="800px" [center]="center" [zoom]="zoom" [options]="options">
      <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
      </map-marker>
      <map-info-window>
        <img class="d-none d-sm-block" src="{{ infoContent }}" width="500px" height="300px">
        <img class="d-block d-sm-none" src="{{ infoContent }}" width="400px" height="200px">
      </map-info-window>
    </google-map>

    <google-map class="d-block d-sm-none" width="100%" height="600px" [center]="center" [zoom]="zoom" [options]="options">
      <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
      </map-marker>
      <map-info-window>
        <img class="d-none d-sm-block" src="{{ infoContent }}" width="500px" height="300px">
        <img class="d-block d-sm-none" src="{{ infoContent }}" width="400px" height="200px">
      </map-info-window>
    </google-map>
  </div>
</div>