<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card m-4" *ngIf="currentUser && currentUser.role.name === 'superadmin'">
        <div class="card-body" [routerLink]="['/organization']">
          <h5 class="card-title">Organizacions</h5>
          <p class="card-text text-center h1">{{organizationCount}}</p>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card m-4">
        <div class="card-body" [routerLink]="['/user']">
          <h5 class="card-title">Usuaris</h5>
          <p class="card-text text-center h1">{{userCount}}</p>
        </div>
    </div>
    </div>
  </div>
  <div class="card m-4">
    <div class="card-body" [routerLink]="['/camera']">
      <h5 class="card-title text-center h1">Cameras</h5>
      <div class="container">
        <div class="row">
          <div class="col-sm text-center">
            <p class="h3">Actiu</p>
            <p class="h3" *ngIf="cameraStateCount">{{cameraStateCount.active}}</p>
          </div>
          <div class="col-sm text-center">
            <p class="h3">Inactiu</p>
            <p class="h3" *ngIf="cameraStateCount">{{cameraStateCount.inactive}}</p>
          </div>
          <div class="col-sm text-center">
            <p class="h3">Pendent</p>
            <p class="h3" *ngIf="cameraStateCount">{{cameraStateCount.pending}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
