<ion-header>
  <ion-toolbar color="gucat-green">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="gucat-white"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tipos de camaras</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/camera-type/create']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="gucat-orange">

  <ion-item lines="full" *ngFor="let cameraType of cameraTypes; index as i;" color="gucat-green">
    <ion-label slot="start">{{cameraType.name}}</ion-label>
    <ion-label slot="end">
      <ion-icon name="pencil-outline" (click)="editCameraType(cameraType.id)"></ion-icon>
    </ion-label>
    <ion-label slot="end">
      <ion-icon name="trash-outline" (click)="removeCameraType(i, cameraType.id)"></ion-icon>
    </ion-label>
  </ion-item>

</ion-content>
