<div class="container-fluid">
    <div class="table-responsive">
        <button type="button" class="btn btn-outline-primary mr-5 float-right"
            (click)="updateWeather()">Actualizar</button>
        <h2>Temps actual: <span *ngIf="weather">{{weather.current.dt * 1000 | date: 'dd/MM/yyyy'}}</span>
            <div *ngIf="!weather" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Temperatura</th>
                    <th scope="col">Humitat</th>
                    <th scope="col">Presion</th>
                    <th scope="col">Vel. vent</th>
                    <th scope="col">Direccio del vent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngIf="weather">{{weather.current.temp}} °C</td>
                    <td *ngIf="weather">{{weather.current.humidity}} %</td>
                    <td *ngIf="weather">{{weather.current.pressure}}</td>
                    <td *ngIf="weather">{{weather.current.wind_speed}}</td>
                    <td *ngIf="weather">{{weather.current.wind_deg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-outline-primary ml-4" [routerLink]="['/camera']">Tornar</button>
</div>