<div class="container-fluid">
    <h2>Temps actual: <span *ngIf="weather">{{weather.current.dt * 1000 | date: 'dd/MM/yyyy'}}</span>
        <div *ngIf="!weather" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </h2>

    <div class="row mt-4">
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-3 p-4 pl-0 border-right text-center">
                            <i class="fas fa-thermometer-three-quarters fa-4x ml-2" style="color:#F6B400"></i>
                        </div>
                        <div class="col-9 p-4 pl-0 text-center">
                            <p *ngIf="weather && weather.current" class="display-4 font-weight-bold"
                                style="color: #F6B400">{{weather.current.temp}} °C</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-3 p-4 pl-0 border-right text-center">
                            <i class="fas fa-tint fa-4x ml-2" style="color:#F6B400"></i>
                        </div>
                        <div class="col-9 p-4 pl-0 text-center">
                            <p *ngIf="weather && weather.current" class="display-4 font-weight-bold"
                                style="color: #F6B400">{{weather.current.humidity}} %
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-3 p-4 pl-0 border-right text-center">
                            <i class="fas fa-clock fa-4x ml-2" style="color:#F6B400"></i>
                        </div>
                        <div class="col-9 p-4 pl-0 text-center">
                            <p *ngIf="weather && weather.current" class="display-4 font-weight-bold"
                                style="color: #F6B400">{{weather.current.pressure}} hPa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-3 p-4 pl-0 border-right text-center">
                            <i class="fas fa-wind fa-4x ml-2" style="color:#F6B400"></i>
                        </div>
                        <div class="col-9 p-4 pl-0 text-center">
                            <p *ngIf="weather && weather.current" class="display-4 font-weight-bold"
                                style="color: #F6B400; font-size:3rem">
                                {{weather.current.wind_speed}} km/h</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-12 col-sm-3 mt-4">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-3 p-4 pl-0 border-right text-center">
                            <i class="fas fa-compass fa-4x ml-2" style="color:#F6B400"></i>
                        </div>
                        <div class="col-9 p-4 pl-0 text-center">
                            <p *ngIf="weather && weather.current" class="display-4 font-weight-bold" style="color: #F6B400">{{weather.current.wind_deg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div *ngIf="weather" class="mt-5" style="display: block;">
        <h2>Temperatura diaria</h2>
        <canvas baseChart width="400" height="80"
          [datasets]="lineChartDataDaily"
          [labels]="lineChartLabelsDaily"
          [options]="lineChartOptions"
          [colors]="lineChartColorsDaily"
          [legend]="lineChartLegend"
          [chartType]="lineChartType">
        </canvas>

        <h2 class="mt-4">Temperatura hora</h2>
        <canvas baseChart width="400" height="80"
          [datasets]="lineChartDataHourly"
          [labels]="lineChartLabelsHourly"
          [options]="lineChartOptions"
          [colors]="lineChartColorsHourly"
          [legend]="lineChartLegend"
          [chartType]="lineChartType">
        </canvas>
    </div>      
    <button type="button" class="btn btn-outline-primary mt-4" [routerLink]="['/camera']">Tornar</button>
</div>