<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Login</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container">
        <form #forma="ngForm" (ngSubmit)="login(forma)" class="form-group">
            <div class="row mb-5 mt-5">
                <div class="col text-center">
                    <h2>WELCOME TO ADF</h2>
                </div>
            </div>

            <div class="row m-1">
                <div class="col">
                    <ion-input class="form-control" name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                </div>
            </div>

            <div class="row m-1">
                <div class="col">
                    <ion-input class="form-control" name="password" type="password" placeholder="Password" ngModel required (key.enter)="login(forma)"></ion-input>
                </div>
            </div>

            <div class="row m-1">
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
                    <!-- <ion-button size="large" type="submit" [disabled]="forma.invalid" expand="block">Login</ion-button> -->
                </div>
            </div>
        </form>
    </div>


    <!-- <ion-row>
    <div text-center>
        If you don't have an account, please 
      <a routerLink='/register'>
        register</a> first!
    </div>
  </ion-row> -->
</ion-content>