<ion-content [fullscreen]="true" color="gucat-orange">
    <ion-grid>
        <ion-row color="primary" justify-content-center align-items-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <form #forma="ngForm" (ngSubmit)="login(forma)" class="form-group">
                    <ion-item color="gucat-orange">
                        <img src="assets/img/logo.png" />
                    </ion-item>
                    <ion-item color="gucat-green">
                        <ion-input class="form-control ion-margin-top" name="email" type="email"
                            placeholder="your@email.com" ngModel required></ion-input>
                    </ion-item>
                    <ion-item color="gucat-green" class="ion-margin-top">
                        <ion-input class="form-control ion-margin-top" name="password" type="password"
                            placeholder="Password" ngModel required (key.enter)="login(forma)"></ion-input>
                    </ion-item>
                    <ion-button size="large" type="submit" expand="block" color="gucat-green"
                        class="btn btn-outline-primary btn-block ion-margin-top">
                        Entrar
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>