<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ usuario.role }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ usuario.role }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>{{ usuario.code}}</ion-card-subtitle>
                <ion-card-title>{{ usuario.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <div class="row">
                    <div class="col">
                        <label>Organization: {{ usuario.organization}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Email: {{ usuario.email}}</label>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>

        <div class="row">
            <div class="col">
                <button class="btn btn-outline-danger" (click)="logout()">Salir</button>
            </div>
        </div>
    </div>


</ion-content>