<ion-header [translucent]="true">
    <ion-toolbar color="gucat-green">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="gucat-white" *ngIf="role.name == 'admin'"></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="gucat-orange">

</ion-content>