.my-custom-menu {
    --width: 500px;
}

ion-list .md.list-md.hydrated {
    background-color: #3ea027;
}

#inbox-list {
    display: block;
    background-color: #3ea027;
}

.itemsMenu {
    background-color: white;
}