<div class="container-fluid">
  <div class="row mr-4 mb-4 float-sm-right">
    <button type="button" class="btn btn-outline-primary ml-4" [routerLink]="['/camera/create']">Afegir camara</button>
  </div>
  <div class="mb-4">
    <form [formGroup]="formSearchCamera" (ngSubmit)="getCameras()" novalidate>
      <ul class="nav justify-content-center">
        <li class="nav-item mr-4">
          <select class="form-control no-radius" id="exampleFormControlSelect1" formControlName="state">
            <option ngValue="3" selected>Totes</option>
            <option ngValue="1">Actiu</option>
            <option ngValue="0">Inactiu</option>
            <option ngValue="2">Pendent</option>
          </select>
        </li>
        <li class="nav-item">
          <select class="form-control no-radius" id="exampleFormControlSelect1">
            <option>Organizacio</option>
            <option *ngFor="let organization of organizations">{{organization.name}}</option>
          </select>
        </li>
        <li class="mt-4 mr-5 mr-sm-0 mt-sm-0">
          <button type="submit" class="btn btn-primary ml-4">Buscar</button>
        </li>

      </ul>
    </form>
  </div>
  <div class="row">
    <div class="alert alert-primary w-100 text-center" role="alert" *ngIf="cameras?.length === 0">
      <span class=""> No hi ha càmeres per mostrar</span>
    </div>
    <div class="col-sm-3" *ngFor="let camera of cameras">
      <div class="card mb-3">
        <img class="card-img-top img-fluid" src="{{camera.url}}&time={{timeStamp}}" (click)="openGallery(camera.url)"
          alt="{{camera.name}}" fallimg>
        <div class="card-body">
          <div class="row">
            <div class="col ">
              <h5 class="card-title">{{camera.name}}</h5>
            </div>
            <div class="col text-right">
              <span *ngIf="camera.lat && camera.lon" class="float-sm-right"><a
                  [routerLink]="['/camera/info',camera.id]"><i class="fas fa-info-circle fa-lg ml-3 "></i></a></span>
              <span class="float-sm-right"><i class="fas fa-edit fa-lg" aria-hidden="true"
                  (click)="updateCamera(camera.id)"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-gallery #gallery [options]="galleryOptions" [images]="galleryImages" (imagesReady)="openPreview()"></ngx-gallery>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{nameImageModal}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0">
    <img [src]="imageModel" class="img-fluid" alt="Responsive image">
  </div>
</ng-template>